
body {
	background-image: none !important;
}

#colLevo {
	display:none !important;
}

div.PortalPot {
	display:none !important;
}

#tblGlava {
	display: none !important;
}

td {
	font: 28px tahoma,verdana,sans-serif !important;
	line-height: 2em !important;
}

.PortalTitle {
	font-size: 40px !important;
}

.PortalSklop {
	font-weight: bold;
	font-size: 30px !important;
}
